/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
	display:block;
}

nav ul {
    list-style:none;
	margin-left:0;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/** Base Styles **/
body{
	font-family: Helvetica, Arial, sans-serif;
	background-color:#FFF;
	color:#444;
	font-size:14px;
}

table td{
	vertical-align:top;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding:.5em 0;
	margin:0;
}
h1{ font-size:2em; }
h2{ font-size:1.8em; }
h3{ font-size:1.6em; }
h4{ font-size:1.4em; }
h5{ font-size:1.2em; }
h6{ font-size:1em; }

footer{
	font-size:.8em;
}

p{
	padding:0 0 1em 0;
	margin:0;
}

ul, ol{
	margin-left: 1em;
}

li{
	padding: .25em;
}

form ul{
	list-style:none;
	margin-left:0;
}

form label{
	display:block;
	float:left;
	width:150px;
	padding-top:.5em;
}
form li{
	padding: .5em 0;
}
form ul input, form textarea{
	border:1px solid #BBB;
	padding: .25em;
	font-family: inherit;
	font-size: inherit;
	color:inherit;
	width:300px;
}
form textarea{
	padding-right:0;
	height: 150px;
}

.error{
	color:#900;
}
.success{
	color:#090;
}
ul#message{
	list-style:none;
	margin-left:0;
	padding:.5em 1em;
}
ul#message.error{
	background-color:#FEE;
	border:1px dashed #900;
	border-width:1px 0;
}
ul#message.success{
	background-color:#EFE;
	border:1px dashed #090;
	border-width:1px 0;
}